.main{
    max-width: var(--max-width);
    /* background-color: var(--background); */
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: auto;
    /* padding: 30px 0px; */
}


.hero{
    height: 1175px;
    width: var(--desktop-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 140px;
}

.heroTitleWrapper{
    /* height: 510px; */
    text-align: center;
    cursor: none;
}
.heroTitle{
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    display: flex;
    flex-direction: column;
    /* height: 330px; */
    justify-content: space-around;
    text-align: center;
    margin: auto;
}
.heroTitle h1{
    font-size: 133px;
    line-height: 170px;
}

.heroSpan{
    font-size: 75px;
    color: var(--Golden);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.heroImage{
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    object-fit: cover;
}

.subSection{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: var(--Golden);
    text-transform: uppercase;
    width: 100%;
    max-height: 337px;
    justify-content: space-around;
    padding: 20px 0px;
    gap: 45px;
}

.subSectionTitle{
    font-size: 45px;
    border: 1px solid var(--Golden);
    width: 596px;
    height: 80px;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.subSection>h3{
    color: var(--Grey);
}

.copySection{
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
    margin: auto;
    padding: 26px 50px;
    
}

.copyTitle{
    letter-spacing: 0.13rem;
    color: var(--Golden);
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
}

.contentWrapper{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
}

@media (max-width: 480px){
    .main{
        width: 100vw;
        gap: 100px;
    }
    .hero{
        width: 100%;
        height: auto;
        gap: 75px;
    }
    .heroTitle{
        height: 110px;
    }
    .heroTitle h1{
        font-size: 36.5px;
    }
    .heroSpan{
        font-size: 18px;
    }
    .heroTitleWrapper{
        height: fit-content;
    }
    .heroImage{
        width: 92%;
        height: 350px;  
    }
    .subSection{
        gap: 28px;
        font-size: 14px;
    }
    .subSectionTitle{
        font-size: 22px;
        width: auto;
        height: fit-content;
    }
    .copySection{
        font-size: 12px;
        padding: 25px 18px;
    }
    .copySection h2{
        font-size: 22px;
    }
}

@media (min-width: 481px) and (max-width:767px){
    .main{
        width: 100vw;
        gap: 100px;
        padding: 0px 30px;
    }.hero{
        width: 100%;
        height: auto;
        gap: 75px;
    }
    .heroTitleWrapper{
        height: fit-content;
    }
    .heroTitle{
        height: fit-content;
    }
    .heroTitle h1{
        font-size: 40px;
    line-height: 60px;
    }
    .heroSpan{
        font-size: 20px;
    }
    .heroImage{
        /* width: 92%;   */
        height: 350px;
    }
    .subSection{
        font-size: 14px;
        gap: 30px;
    }
    .subSectionTitle{
        width: auto;
        height: auto;
        font-size: 26px;
    }
    .copySection{
        padding: 26px 15px;
    }
    .copySection h2{
        font-size: 24px;
    }
    .contentWrapper{
        font-size: 14px;
    }

}

@media (min-width:768px) and (max-width:991px){
    .main{
        width: 100vw;
        gap: 160px;
        padding: 0px 30px;
    }.hero{
        width: 100%;
        height: auto;
        gap: 100px;
    }
    .heroTitleWrapper{
        height: fit-content;
    }
    .heroTitle{
        height: fit-content;
    }
    .heroTitle h1{
        font-size: 80px;
    line-height: 110px;
    }
    .heroSpan{
        font-size: 45px;
    }
    .contentWrapper{
        font-size: 14px;
    }
    .copyTitle{
        font-size: 30px;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    .main{
        width: 100vw;
        gap: 180px;
        padding: 0px 60px;
    }.hero{
        width: 100%;
        height: auto;
        gap: 110px;
    }
    .heroTitleWrapper{
        height: fit-content;
    }
    .heroTitle{
        height: fit-content;
    }
    .heroTitle h1{
        font-size: 110px;
    line-height: 148px;
    }
    .heroSpan{
        font-size: 60px;
    }
    .heroImage{
        height: 500px;
    }
    .contentWrapper{
        font-size: 16px;
    }
}